<div class="bg-light p-5 rounded-lg m-3">
    <h1 class="display-4">Success👍</h1>
    <p class="lead">Order Placed successfully ✔</p>
    <hr class="my-4">
</div>
<pre></pre>
<a asp-controller="pizza" asp-action="index">Go to Home Page</a>
<footer class="my-5 pt-5 text-muted text-center text-small">
    <p class="mb-1">&copy; Made by DS Rahul</p>
    <ul class="list-inline">
        <li class="list-inline-item"><a href="#">Contact</a></li>
        <li class="list-inline-item"><a href="#">Terms and Conditions</a></li>
    </ul>
</footer>